<div ng-controller="contactListController" ng-init="init()">

    <div class="app-page-header">
    	<div class="page-title">
    		<h3 >Contatos</h3>
    	</div>
    	<div class="page-tools">
       		<button name="singlebutton" class="btn btn-primary" ui-sref="main.addeditcontact">Adicionar</button>
      </div>
    </div>

    <div class="form-group">
        <div class="col-md-4">
        <input type="text" placeholder="Pesquisa com chamada ao backend" class="form-control" id="search" ng-model="finding">
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Filtro <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="" ng-click="filterList('name', finding)">Nome</a></li>
                <li><a href="" ng-click="filterList('cpf', finding)">CPF</a></li>
                <li><a href="" ng-click="filterList('emails', finding)">Email</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="" ng-click="clearFilter()">Limpar Filtro</a></li>
            </ul>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-4">
            <input class="form-control" ng-model="searchText" placeholder="Pesquisa por campos na lista da tabela">
        </div>
    </div>

    <div class="table-responsive">

      <table class="table table-hover">
      
        <thead>
          <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Telefone</th>
            <th>Nascimento</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        
        <tbody>

          <tr ng-repeat="c in contacts  | filter:searchText">
            <td>{{c.name}}</td>
            <td>{{c.emails[0]}}</td>
            <td>{{c.phones[0]}}</td>
            <td>{{bday(c)}}</td>
            <td><i class="fa fa-pencil-square-o icon-box" ng-click="edit(c)"></i></td>
            <td><i class="fa fa-trash-o icon-box" ng-click="preDelete(c)"></i> </td>
          </tr>

        </tbody>

      </table>


    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Exclusão de contato</h4>
          </div>
          <div class="modal-body">
            Você tem certeza que deseja excluir {{preDeletedContact.name}}?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-primary" ng-click="delete()">Excluir</button>
          </div>
        </div>
      </div>
    </div>
      
    </div>

<div>